{% extends 'base.html' %}
{% block title %}
  {{author}}
{% endblock %}
{% block content %}
  <body>
    <main>
      <div class="container py-5">
        {% for item in annotated_results %}
          <h1>Все посты пользователя {{item.username}} </h1>
          <h3>Всего постов {{item.username}}: {{item.posts_count}} </h3>
        {% endfor %}
           <article>
             <ul>
               <li>
                 Автор: {{annotated_results.text}}
                 <a href="<!-- -->">все посты пользователя</a>
               </li>
               <li>
                 Дата публикации: <!-- 31 июля 1854 -->
               </li>
             </ul>
             <p>
               {% for post in page_obj %}
                 {% include "includes/posts_rendering.html" %}
               {% endfor %}
             </p>
             <a href="<!-- -->">подробная информация </a>
           </article>
           <a href="!-- --">все записи группы</a>
           <hr>

        {% endfor %}
        <!-- Остальные посты. после последнего нет черты -->
        {% include 'posts/includes/paginator.html' %}
      </div>
    </main>
  </body>
{% endblock %}